[data-menu='button'] {
    display: none;
}

@media (max-width: 700px) {
    [data-menu='button'] {
    display: flex;
    background: #222; 
    border: none; 
    padding: .5rem 1rem; 
    border-radius: 4px; 
    text-transform: uppercase; 
    font-weight: bold; 
    color: white; 
    margin: 10px; 
    cursor: pointer; 
    align-items: center;
    position: relative; 
    z-index: 300; 
}


    [data-menu='button']::before {
        content: ''; 
        display: inline-block; 
        height: 2px;
        width: 12px; 
        background: #fff; 
        box-shadow: 0 4px #fff, 0 -4px #fff; 
        margin-right: 4px; 
        transition: transform .3s
    }

    [data-menu='button'].active::before {
        transform: rotate(90deg)
    }

    [data-menu='list'] {
        display: none !important; 
        position: absolute; 
        background: #fb5;
        width: 160px; 
        z-index: 200; 
        padding: 60px 0 20px 0; 
        top: 0; 
        box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);
        animation: show-right .3s; 
    }

      [data-menu='list'].active {
        display: block !important;
    } 

    .drop-down-menu {
        position: static; 
        border: none;
    }
   
} 