.modal-container {
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;;
}

.modal-container.active {
    display: flex;
    animation: modal .3s forwards;
}

.modal {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    position: relative;
}

.fechar {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: red;
    color: white
}

.modal label {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    font-weight: bold;
    margin: 1rem 0 0.5rem 0;
}

.modal input {
    width: 100%;
    padding: .7rem .5rem;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
}

.modal button[type="submit"] {
   align-self: flex-end;
   background-color: red;
   border: none; 
   color: white;
   font-size: 1rem; 
   padding: .6rem 1rem;
   margin-top: 1rem;
   cursor: pointer;
   font-weight: bold;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0,-30px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}